@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add loader styles here */
@layer utilities {
  .loader-cell {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 0.25rem; /* Tailwind's rounded */
    animation: ripple 1.5s ease infinite;
  }

  .loader-cell.delay-0 {
    animation-delay: 0ms;
  }
  .loader-cell.delay-1 {
    animation-delay: 100ms;
  }
  .loader-cell.delay-2 {
    animation-delay: 200ms;
  }
  .loader-cell.delay-3 {
    animation-delay: 300ms;
  }
  .loader-cell.delay-4 {
    animation-delay: 400ms;
  }

  .loader-cell:nth-child(1) {
    --cell-color: #00ff87;
  }

  .loader-cell:nth-child(2) {
    --cell-color: #0cfd95;
  }

  .loader-cell:nth-child(3) {
    --cell-color: #17fba2;
  }

  .loader-cell:nth-child(4) {
    --cell-color: #23f9b2;
  }

  .loader-cell:nth-child(5) {
    --cell-color: #30f7c3;
  }

  .loader-cell:nth-child(6) {
    --cell-color: #3df5d4;
  }

  .loader-cell:nth-child(7) {
    --cell-color: #45f4de;
  }

  .loader-cell:nth-child(8) {
    --cell-color: #53f1f0;
  }

  .loader-cell:nth-child(9) {
    --cell-color: #60efff;
  }

  @keyframes ripple {
    0% {
      background-color: transparent;
    }
    30% {
      background-color: var(--cell-color);
    }
    60% {
      background-color: transparent;
    }
    100% {
      background-color: transparent;
    }
  }
}
